= form_for @hidden_location, html: {class: "form-horizontal"} do |f|
  - if @hidden_location.errors.any?
    .container
      .alert.alert-danger
        %h2= "#{pluralize(@hidden_location.errors.count, "error")} prohibited this hidden_location from being saved:"
        %ul
          - @hidden_location.errors.full_messages.each do |msg|
            %li= msg

  .control-group
    = f.label :name, class: "control-label"
    .controls
      .input-prepend
        %span{class: "add-on"}
          %i{class: "icon-flag"}
        = f.text_field :name
  .control-group
    = f.label :latitude, class: "control-label"
    .controls
      .input-prepend
        %span{class: "add-on"}
          %i{class: "icon-bolt"}
        = f.text_field :latitude
  .control-group
    = f.label :longitude, class: "control-label"
    .controls
      .input-prepend
        %span{class: "add-on"}
          %i{class: "icon-bolt"}
        = f.text_field :longitude
  .control-group
    = f.label :hint, class: "control-label"
    .controls
      .input-prepend
        %span{class: "add-on"}
          %i{class: "icon-tags"}
        = f.text_field :hint
  .control-group
    = f.label :points, class: "control-label"
    .controls
      .input-prepend
        %span{class: "add-on"}
          %i{class: "icon-globe"}
        = f.text_field :points
  .control-group
    .controls
      = f.submit t("global.save"), class: "btn btn-success"