%legend Hidden Locations

%table{class: 'table table-hover'}
  %thead
    %tr
      %th Name
      %th Latitude
      %th Longitude
      %th Hint
      %th Points
      %th

    - @hidden_locations.each do |hidden_location|
      %tr
        %td= hidden_location.name
        %td= hidden_location.latitude
        %td= hidden_location.longitude
        %td= hidden_location.hint
        %td= hidden_location.points
        %td= link_to 'Show', hidden_location, class: 'btn btn-small'
        %td= link_to 'Edit', edit_hidden_location_path(hidden_location), class: 'btn btn-small btn-warning'
        %td= link_to 'Destroy', hidden_location, class: 'btn btn-small btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Hidden location', new_hidden_location_path, class: 'btn btn-inverse'
