= form_for @building, html: {class: "form-horizontal"} do |f|
  - if @building.errors.any?
    .container
      .alert.alert-danger
        %h2= "#{pluralize(@building.errors.count, "error")} prohibited this building from being saved:"
        %ul
          - @building.errors.full_messages.each do |msg|
            %li= msg

  .control-group
    = f.label :name
    .controls
      .input-prepend
        %span{class: "add-on"}
          %i{class: "icon-arrow-right"}
        = f.text_field :name
  .control-group
    = f.label :latitude
    .controls
      .input-prepend
        %span{class: "add-on"}
          %i{class: "icon-arrow-right"}
        = f.text_field :latitude
  .control-group
    = f.label :longitude
    .controls
      .input-prepend
        %span{class: "add-on"}
          %i{class: "icon-arrow-right"}
        = f.text_field :longitude
  .control-group
    .controls
      = f.submit 'Save'
