%h1 Listing buildings

%table
  %tr
    %th Name
    %th Latitude
    %th Longitude
    %th
    %th
    %th

  - @buildings.each do |building|
    %tr
      %td= building.name
      %td= building.latitude
      %td= building.longitude
      %td= link_to 'Show', building
      %td= link_to 'Edit', edit_building_path(building)
      %td= link_to 'Destroy', building, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Building', new_building_path
