%p
  %b Name:
  = @building.name
%p
  %b Latitude:
  = @building.latitude
%p
  %b Longitude:
  = @building.longitude

= link_to 'Edit', edit_building_path(@building), class: 'btn btn-warning'
= link_to 'Back', buildings_path, class: 'btn btn-inverse'
