%legend= t('admin.title')

= link_to 'See all users', users_path, class: 'btn btn-inverse'
= link_to 'See all rooms', rooms_path, class: 'btn'
= link_to 'See all hidden locations', hidden_locations_path, class: 'btn btn-primary'
= link_to 'See all buildings', buildings_path, class: 'btn btn-warning'

