%legend= t('study_courses.title')

%p= t('study_courses.description')

%table{class: 'table table-hover'}
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  - @study_courses.each do |study_course|
    %tr
      %td= study_course.name
      %td= link_to 'Show', study_course, class: 'btn'
      %td= link_to 'Edit', edit_study_course_path(study_course)
      %td= link_to 'Destroy', study_course, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br
-if can? :manage, StudyCourse
  = link_to 'New Study course', new_study_course_path, class: 'btn btn-primary'
