= form_for @room, html: {class: "form-horizontal"} do |f|
  - if @room.errors.any?
    .container
      .alert.alert-danger
        %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
        %ul
          - @room.errors.full_messages.each do |msg|
            %li= msg

  .control-group
    = f.label :building_id, class: "control-label"
    .controls
      .input-prepend
        %span{class: "add-on"}
          %i{class: "icon-user"}
        = f.select :building_id, Hash[Building.all.map{|b| [b.name, b.id]}]
  .control-group
    = f.label :number, class: "control-label"
    .controls
      .input-prepend
        %span{class: "add-on"}
          %i{class: "icon-user"}
        = f.text_field :number
  .control-group
    .controls
      = f.submit t("global.save"), class: "btn btn-success"
