%legend Listing rooms

%table{class: 'table table-hover'}
  %thead
    %tr
      %th Building
      %th Number
      %th Claimed
      %th Claimed by

  - @rooms.each do |room|
    %tr
      %td= room.building.name unless room.building.nil?
      %td= room.number
      %td
        %span{class: "label label-#{room.set_claimed_label}"}
          = room.claimed_status
      %td= room.claimed_by
      %td= link_to 'Show', room, class: 'btn btn-small'
      %td= link_to 'Edit', edit_room_path(room), class: 'btn btn-small btn-warning'
      %td= link_to 'Destroy', room, method: :delete, data: { :confirm => 'Are you sure?' }, class: 'btn btn-small btn-danger'

%br

= link_to 'New Room', new_room_path, class: 'btn btn-primary'
