%h1 Listing rooms

%table
  %tr
    %th Building
    %th Number
    %th Claimed
    %th Claimed by
    %th
    %th
    %th

  - @rooms.each do |room|
    %tr
      %td= room.building
      %td= room.number
      %td= room.claimed
      %td= room.claimed_by
      %td= link_to 'Show', room
      %td= link_to 'Edit', edit_room_path(room)
      %td= link_to 'Destroy', room, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Room', new_room_path
