%p#notice= notice

%p
  %b Building:
  = @room.building
%p
  %b Number:
  = @room.number
%p
  %b Claimed:
  = @room.claimed
%p
  %b Claimed by:
  = @room.claimed_by

= link_to 'Edit', edit_room_path(@room)
\|
= link_to 'Back', rooms_path
