.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a{class: "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span{class: "icon-bar"}
        %span{class: "icon-bar"}
        %span{class: "icon-bar"}
      %a{class: "brand", href: root_url}
        King of the HFT
      .nav-collapse.collapse
        %ul{class:"nav"}
          %li{class:"dropdown"}
            %a{href:"#", class:"dropdown-toggle", "data-toggle"=>"dropdown"}
              = t('layouts.navbar.products')
              %b{class:"caret"}
            %ul{class:"dropdown-menu"}
              %li
                = link_to root_url+"/items" do
                  %i{class:"icon-asterisk"}
                  = t('layouts.navbar.all_products')
              %li
                = link_to root_url+"/categories/seedbox" do
                  %i{class:"icon-hdd"}
                  = t("items.home.seedbox_title")
              %li
                = link_to root_url+"/categories/vpn" do
                  %i{class:"icon-lock"}
                  = t("items.home.vpn_title")
              %li
                = link_to root_url+"/categories/server" do
                  %i{class:"icon-fire"}
                  = t("items.home.server_title")
          %li
            = link_to t('layouts.navbar.cart'), root_url+"/my_cart"
          %li= link_to t('layouts.navbar.server_status'), status_path

        %ul{class: "nav pull-right"}
          -if user_signed_in?
            %li{class:"dropdown"}
              %a{href:"#", class:"dropdown-toggle", "data-toggle"=>"dropdown"}
                = t('layouts.navbar.welcome')
                =current_user.name
                %b{class:"caret"}
              %ul{class:"dropdown-menu"}
                %li
                  = link_to "#{root_url}/orders" do
                    %i{class:"icon-tags"}
                    = t('layouts.navbar.orders')
                %li
                  %a{href: "#{root_url}/my_invoices"}
                    %i{class: "icon-book"}
                    = t("layouts.navbar.invoices")
                %li
                  %a{href: "#{root_url}/tickets"}
                    %i{class: "icon-envelope"}
                    = t("layouts.navbar.tickets")
                %li{class:"divider"}
                %li{class:"nav-header"}= t('layouts.navbar.manage')
                -if current_user.admin?
                  %li
                    =link_to "/admin" do
                      %i{class: "icon-cogs"}
                      Admin Area
                %li
                  %a{href: "#{root_url}/services"}
                    %i{class: "icon-tasks"}
                    = t('layouts.navbar.services')
                %li
                  %a{href: "#{root_url}/notifications"}
                    %i{class: "icon-external-link"}
                    =t("notification.link")
                %li
                  = link_to edit_user_registration_path do
                    %i{class: "icon-user"}
                    = t('layouts.navbar.user_details')
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    %i{class: "icon-off"}
                    = t('layouts.navbar.logout')
          -else
            %form{class:"navbar-form pull-right", "accept-charset"=>"UTF-8", action:"#{root_url}/users/sign_in", method:"post"}
              %div{style:"margin:0;padding:0;display:inline"}
                %input{name:"utf8", type:"hidden", value:"&#x2713;"}
                %input{name:"authenticity_token", type:"hidden", value:"Wuz1PQAl8NepPWFVwgW8ZXQwiLF69q/wBusEAIZmQKI="}
              %input{class:"span2", id:"user_email", name:"user[email]", type:"email", placeholder:"Email"}
              %input{class:"span2", id:"user_password", name:"user[password]", type:"password", placeholder: t('layouts.navbar.password')}
              %input{name: "user[remember_me]", type: "hidden", value: "0"}
              %input{class:"btn", name:"commit", type:"submit", value: t('layouts.navbar.login')}